/*for desktop*/ 
@media (min-width: 600px)  {

    .monoLocoTxt {
        width:100vw;
        height:100vw;
        width: 700px;
        height: 125px;
        position: relative;
        background-image: url("/img/desktop/headerTxtDesktop.png");
        background-repeat: no-repeat;
        background-color: yellow;
    }

    .cocoGames {
        width: 100vw;
        height:100vw;
        left:0%;
        background-image: url("/img/desktop/cgLogoDesktop.png");
        background-repeat: no-repeat;
        background-color: blue;
    }
}


header {
    width: 100%;
    height: 20%;
    background-color: brown;
}  

.monoLocoTxt {
    top: 1%;
    left: 25%;
    position: relative;
    width: 430px;
    height: 85px;
    background-image: url("/img/mobile/headerTxtMobile.png");
    background-repeat: no-repeat;
    background-color: yellow;
    
}

.cocoGames {
    padding: 10px;
    width: 100vw;
    height:100vw;
    left:0%;
    background-image: url("/img/mobile/cgLogoMobile.png");
    background-repeat: no-repeat;
    background-color: blue;
    }
