body {
    width: 100vw;
    height: 100vw;
    background-image: url("/img/mobile/beachBgMobile.png");
    background-repeat: no-repeat;
    background-size:cover;
}  /*This applies from 600px onwards*/

@media (min-width: 600px) {
    body {
        width: 100vw;
        height: 100vw;
        background-image: url("/img/desktop/beachBgDesktop.png");
        background-repeat: no-repeat;
        background-size:cover;
        }
}