body {
    background-image: url("/img/mobile/beachBgMobile.png")!important;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100%;
    background-size: 100vw 100vh;
}
    
    /*This applies from 600px onwards*/
@media (min-width: 400px) {
body {
    background-image: url("/img/desktop/beachBgDesktop.png")!important;
    background-size: contain;
    background-size: 100%;
    background-size: 100vw 100vh;
}

.buttons {
    display: flex;
    justify-content: space-around!important;
    left: 70%;
    top: 60px!important;
    height: 4vw;
    width: 30%;
    background-color: blue;
    background-size: 20%!important;
    
}

.play{
    /* background-image: url("/img/desktop/playButtonDesktop.png")!important; */
    background-color: transparent;
    border: none;
    /* width: 9vw!important;
    height: 7vw!important; */
/*     max-width: 9vw!important;
    max-height: 7vw!important; */
   /*  overflow:visible!important; */
}

.refresh{
    background-image: url("/img/desktop/restartButtonDesktop.png")!important;
    background-color: transparent;
    border: none;
    width: 9vw!important;
    height: 7vw!important;
    /* overflow:visible!important; */
}

.add{
    background-image: url("/img/desktop/addButtonDesktop.png")!important;
    background-color: transparent;
    border: none;
    width: 9vw!important;
    height: 7vw!important;
    /* overflow:visible!important; */
}
}

/* starts indexDown2 */
.play {
    /* background-image: url("/img/mobile/playButtonMobile.png"); */
    background-color: transparent;
    border: none;
    width: 20vw;
    height: auto;
    background-repeat: no-repeat;
}

.refresh {
    background-image: url("/img/mobile/refreshButtonMobile.png");
    background-color: transparent;
    border: none;
    width: 20vw;
    height: auto;
    background-repeat: no-repeat;
}

.add {
    background-image: url("/img/mobile/addButtonMobile.png");
    background-color: transparent;
    border: none;
    width: 20vw;
    height: auto;
    background-repeat: no-repeat;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    position: relative;
    top: 430px;
    

}

.columns{

}